[Unit]
Description=consul
Requires=network.target
After=network.target

[Service]
Environment=GOMAXPROCS=2
User={{ consul_user }}
Group={{ consul_group }}
ExecStart={{ consul_home_dir }}/bin/{{ consul_binary }} agent -config-file={{ consul_config_file }} -config-dir={{ consul_config_dir }} -syslog
ExecReload={{ consul_home_dir }}/bin/{{ consul_binary }} reload
ExecStop={{ consul_home_dir }}/bin/{{ consul_binary }} leave
Restart={{ consul_restart_condition }}

[Install]
WantedBy=multi-user.target
